.container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  text-align: center;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 90%;
}

.spinner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
